<!-- views/pages/profile.ejs -->

<!DOCTYPE html>
<html lang="de">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/sub.css"/>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <!-- Greeting for SignedIn User -->
                    <h1>Hello <%= username %>!!!</h1>

                </div>
            </div>       
        </div>
        <div id="entry-list" class="container-fluid">
            <!-- Empty entry where user is logged in user!!!-->
            <% if (!posts.length) { %>
            <div class="row" style="background: rgba(255,255,255,0.5); border-radius:1em;margin-bottom:2%;">
                        <p>No entries. Let's get started!!!</p>
            </div>
            <% } %>
            <!-- Entry row -->
            <% posts.forEach(function (post) { %>
            <div class="row" style="background: rgba(255,255,255,0.5); border-radius:1em;margin-bottom:2%;">
                    <div class="col-xs-5" style="padding:2%;">
                        <% if (post.textentry) { %>
                            <p><%= post.textentry.text %></p>
                        <% } else if (post.photo) { %>
                            <img class="img-rounded img-responsive" style="padding:0;margin:2% 0" src="uploads/<%= post.photo.filename %>">
                        <% } else {
                            console.log("Undefinded post");
                        }%>

                    </div>
                    <div class="col-xs-5">
                    <% if (post.hashtags.length > 0) {%>
                        <p><% for (i = 0; i < hashtags.length; i++) { %>
                            <span>#<%= hashtags[i] %></span>
                        <%}} else{ <%>
                            <span>No suggestions</span>
                        <% } %>
                        </p>
                    
                    </div>
                    <div class="col-xs-2">
                         <!-- Delete entry -->
                         <a href="/delete/<%= post._id %>">
                            <p><span class="glyphicon glyphicon-trash" aria-hidden="true" ></span></p>
                        </a>
                    </div>
            </div>
            <% }) %> 
        </div>
    </main>
    
</body>
</html>